data/corpus/sources/**/*.pdf binary
data/corpus/sources/us-sc/statute/2026-07-16-pit-central-us-sc-title-12-chapter-6/**/*.html binary
data/corpus/sources/us-wa/statute/2026-07-16-pit-central-us-wa-title-82.87/**/*.html binary
data/corpus/sources/us-nd/statute/2026-07-16-pit-central-us-nd-title-57-38/**/*.html binary
data/corpus/sources/us-mo/statute/2026-07-16-pit-central-us-mo-143/**/*.html binary
data/corpus/sources/us-ms/statute/2026-07-16-pit-central-us-ms-section-27-7-5/**/*.html binary
data/corpus/sources/us-nh/statute/2026-07-16-pit-central-us-nh-title-v-chapter-77/**/*.html binary
data/corpus/sources/us-nh/statute/2026-07-16-pit-central-us-nh-title-v-chapter-77/**/*.htm binary
