data/corpus/sources/**/*.pdf binary
data/corpus/sources/us-pa/manual/2026-07-21-pa-snap-handbook/**/*.html binary
data/corpus/sources/us-wa/manual/2026-07-21-wa-eaz-manual/**/*.html binary
data/corpus/sources/us-wv/manual/2026-07-21-wv-snap-healthy-choices-overlay/**/*.html binary
data/corpus/sources/us-sc/statute/2026-07-16-pit-central-us-sc-title-12-chapter-6/**/*.html binary
data/corpus/sources/us-wa/statute/2026-07-16-pit-central-us-wa-title-82.87/**/*.html binary
data/corpus/sources/us-nd/statute/2026-07-16-pit-central-us-nd-title-57-38/**/*.html binary
data/corpus/sources/us-mo/statute/2026-07-16-pit-central-us-mo-143/**/*.html binary
data/corpus/sources/us-ms/statute/2026-07-16-pit-central-us-ms-section-27-7-5/**/*.html binary
data/corpus/sources/us-nh/statute/2026-07-16-pit-central-us-nh-title-v-chapter-77/**/*.html binary
data/corpus/sources/us-nh/statute/2026-07-16-pit-central-us-nh-title-v-chapter-77/**/*.htm binary
data/corpus/sources/us-vt/statute/2026-07-16-pit-central-us-vt-title-32-chapter-151/**/*.html binary
data/corpus/sources/us-vt/statute/2026-07-16-pit-central-us-vt-title-32-chapter-151/**/*.json binary
data/corpus/sources/us-wv/statute/2026-07-16-pit-west-us-wv-chapter-11-article-21/**/*.html binary
data/corpus/sources/us-dc/statute/2026-07-16-pit-east-title-47/**/*.xml binary
data/corpus/sources/us-hi/statute/2026-07-16-pit-east-us-hi-volume-04-chapter-235/**/*.html binary
data/corpus/sources/us-hi/statute/2026-07-16-pit-east-us-hi-volume-04-chapter-235/**/*.htm binary
data/corpus/sources/us-ia/statute/2026-07-16-pit-east-us-ia-title-x-chapter-422/**/*.html binary
data/corpus/sources/us-in/statute/2026-07-16-pit-east-us-in-title-6/**/*.html binary
data/corpus/sources/us-ks/statute/2026-07-16-pit-west-us-ks-chapter-79-article-32/**/*.html binary
data/corpus/sources/us-la/statute/2026-07-16-pit-central-us-la-title-47/**/*.html binary
data/corpus/sources/us-mt/statute/2026-07-16-pit-central-us-mt-title-15/**/*.html binary
data/corpus/sources/us-nj/statute/2026-07-16-pit-central-us-nj-title-54a/**/*.TXT binary
data/corpus/sources/us-nm/statute/2026-07-16-pit-central/**/*.html binary
data/corpus/sources/us-ok/statute/2026-07-16-pit-central-us-ok-title-68/**/*.html binary
data/corpus/sources/us-ok/statute/2026-07-16-pit-central-us-ok-title-68/**/*.rtf binary
data/corpus/sources/us-or/statute/2026-07-16-pit-west-us-or-chapter-316/**/*.aspx binary
data/corpus/sources/us-or/statute/2026-07-16-pit-west-us-or-chapter-316/**/*.html binary
data/corpus/sources/us-pa/statute/2026-07-16-pit-west-us-pa-act-1971-2-article-3/**/*.html binary
data/corpus/sources/us-ri/statute/2026-07-16-pit-west-us-ri-chapter-44-30/**/*.html binary
data/corpus/sources/us-ri/statute/2026-07-16-pit-west-us-ri-chapter-44-30/**/*.htm binary
data/corpus/sources/us-wi/statute/2026-07-16-pit-west-chapter-71/**/*.html binary
